
table {
    float: left;
    margin-left: 20px;
    width: 45%;
}

#img-name {
    text-align: center;
}

#modal-background {
    display: none;
    background-color: black;
    filter: alpha(opacity=85);
    height: 100%;
    left: 0;
    opacity: 0.85;
    -moz-opacity: 0.85;
    -webkit-opacity: 0.85;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

#modal-background.active, #modal-content.active {
    display: block;
}

#modal-close {
    background-color: #00008B;
    border-radius: 5px;
    color: white;
    float: right;
    font-size: 24px;
    padding: 3px;
}

#modal-content {
    background-color: white;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    bottom: 0;
    box-shadow: 0 0 20px 0 #222;
    -moz-box-shadow: 0 0 20px 0 #222;
    -webkit-box-shadow: 0 0 20px 0 #222;
    display: none;
    height: 640px;  
    left: 0;
    margin: auto;
    padding: 10px;
    position: fixed;
    right: 0;
    top: 0;
    width: 720px;
    z-index: 1000;
}

#modal-data-wrapper > img {
    border-radius: 5px;
    box-shadow: 3px 3px 4px black;
    display: block;
    height: 280px;
    margin-left: auto;
    margin-right: auto;
    width: 420px;
}

.data-container > img {
    border: 1px solid black;
    box-shadow: 3px 3px 4px black;
    cursor: pointer;
    height: 240px;
    width: 320px;
}

